body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a0dfd1;
  font-family: Arial;
}

.form-box {
  background: white;
  width: 320px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #87f1db ;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #30e9c4;
}

small {
  color: red;
  display: block;
  text-align: left;
  margin-top: 5px;
}

#successMsg {
  color: green;
  margin-top: 15px;
}
